.productImage{
  width:200px;
  display: block;
  margin: auto;
}

.priceSection{
  display: flex;
  justify-content: center;
  align-items: center;
  gap:40px;
  margin-top: 20px;

}
.productName{
  text-align: center;
}
.form-control{
  width:25px;

}
.input-group{
  display: inline-flex;
}